body {
	background-color:#000000;
	color:#FFFFFF;
}

div {
	font-family:"Courier New", Courier, monospace,arial;
}

.readonly {
    background-color:#C0C0C0;
}

#geral {
	width:auto;
	margin:auto;
}

#cabecalho {
	height:132px;
	background-image:url(../img/header.jpg);
}

#menu_superior {
	background-color:#3399FF;
	height:25px;
	color:#FFFFFF;
}

#menu_superior a {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}

#menu_superior a:hover {
	text-decoration:underline;
	color:#FFFF00;
}

#conteudo {
    overflow:auto;
	background-color:#000000;
	color:#FFFFFF;
	text-align:justify;
}

#conteudo a {
	color:#FFFFFF;
	text-decoration:none;
}

#conteudo a:hover {
	text-decoration:underline;
}

footer::before {
	position: absolute;   /* posição absoluta */
	bottom: 0;   /* Fixa a div no fim da página */
	width: 100%;   /* Largura estende por toda página da div */
	height: 15px;   /* Altura da div */
	font-size:12px;
	text-align:center;
	background-color:#3399FF;
	color:#FFFFFF;
    content: "Sistema Desenvolvido por Matheus Silva";
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#tabela {
	width:70%; 
	overflow:hidden;
	margin-left: auto ;  
	margin-right: auto ;
}

.table {
	table-layout: fixed;
	word-wrap: break-word;
	margin: 20px;
}

.table th {
   text-align: center;   
}

.table td {
   text-align: center;   
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #00FF00;
}

.lista {
	text-align:center;
}

.titulo {
	text-align:center;
}

#form, .form {
	display: table;
	margin: 0 auto;
}